body {
  background-image: url('https://source.unsplash.com/random/?barcelona');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  background-color: rgba(158, 40, 40, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #ff0000;
  border-color: #0c0c0c;
}

.btn-primary:hover {
  background-color: #d90000;
  border-color: #050505;
}

.btn {
  color: #fff;
}

.form-control:focus {
  border-color: #8f8f8f;
  box-shadow: 0 0 0 0.2rem rgba(164, 164, 164, 0.25);
}

label {
  font-weight: bold;
}
