.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #F8FCDA;
  text-transform: uppercase;
  border: 1px solid #A5ABAF;
  background-color: #E3E9C2;
  padding: 50px 80px;
  transition: all 0.2s;
  border-radius: 30px;
  margin: 0 10px;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(0.9);
}

.navbar-nav > .active > .nav-link {
  color: black;
  background-color: #F9FBB2;
}

.navbar-lewagon {
  display: flex;
  justify-content: center;
  background: #d5bcac;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  height: 30px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.booking-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

.booking-btn:hover {
  background-color: darkblue;
}
