.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.nav-link {
  color: white;
  background-color: yellow;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px 30px;
  transition: all 0.2s;
  border-radius: 20px;
  margin: 0 10px;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(0.9);
}

.navbar-nav > .active > .nav-link {
  color: black;
  background-color: rgb(219, 5, 5);
}

.navbar-lewagon {
  display: flex;
  justify-content: center;
  background: rgb(205, 0, 0);
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 30px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.booking-btn {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

.booking-btn:hover {
  background-color: darkblue;
}
